@page
@model projectf22.Pages.Update.Update_PaymentModel
@{
    List<string> paymentMethods = new List<string> { "Credit Card", "PayPal", "Bank Transfer", "Apple Pay" };
}

<form method="post">
    <input type="text" asp-for="@Model.pay.PaymentDate" placeholder="PaymentDate" value="@Model.pay.PaymentDate" />
    <input type="text" asp-for="@Model.pay.PaymentAmount" placeholder="PaymentAmount" value="@Model.pay.PaymentAmount" />
    <select asp-for="@Model.pay.PaymentMethod" placeholder="PaymentMethod">
        @foreach (var method in paymentMethods)
        {
            <option value="@method">@method</option>
        }
    </select>
    <br />
    <button class="btn btn-primary" type="submit">Update Payment</button>
</form>
