@page
@model projectf22.Pages.Update.Update_BookingModel
@{
    <form method="post">
        <input type="number" asp-for="@Model.Book.UserID" placeholder="User ID" value="@Model.Book.UserID" />
        <input type="datetime-local" asp-for="@Model.Book.BookingDate" value="@Model.Book.BookingDate.ToString("yyyy-MM-ddTHH:mm")" />
        <input type="number" asp-for="@Model.Book.NumOfTickets" placeholder="NumOfTickets" value="@Model.Book.NumOfTickets" />
        <input type="number" asp-for="@Model.Book.TotalPrice" placeholder="TotalPrice" value="@Model.Book.TotalPrice" />
        <br />
        <button class="btn btn-primary" type="submit">Update Booking</button>
    </form>
}
