@page
@model projectf22.Pages.Admin_Page.A_SocialMediaLinksModel
@{
    ViewData["Title"] = "Social Media Links";
}

<style>
    .admin-data-table-heading {
        margin-top: 20px; /* Add margin top for space */
        text-align: center; /* Center the text */
        font-weight: bold; /* Make the text bold */
    }
</style>

<div class="page-heading-shows-events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Social Media Links</h2>
                <span>Welcome, Admin! Here are the social media links.</span>
            </div>
        </div>
    </div>
</div>

<div class="shows-events-tabs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="admin-data-table-heading mb-4">Social Media Links Data Table</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Social Media ID</th>
                                    <th>Social Media Platforms</th>
                                    <th>Link URL</th>
                                    <th>Actions</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var socialMediaLink in Model.SocialMediaLinksList)
                                {
                                    <tr>
                                        <td>@socialMediaLink.ID</td>
                                        <td>@socialMediaLink.SocialMediaPlatforms</td>
                                        <td>@socialMediaLink.LinkURL</td>
                                        <td class="text-right">
                                            <a asp-page="/Update/Update_Socialmedialinks" asp-route-id="@socialMediaLink.ID">Update</a>
                                            |
                                            <a asp-page="/Delete/Socialmedialinks_Delete" asp-route-id="@socialMediaLink.ID">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="text-center mt-3">
                            <a class="btn btn-primary" asp-page="/Create/Create_Socialmedialinks">Add New Social Media Link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
