@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
 <div class="page-heading-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>@Model.Events[1].EventName</h2>
                <span>@Model.Events[1].EventDate, @Model.eventloc.Rows[1]["LocationName"]</span>
                </div>
            </div>
        </div>
    </div>

    <div class="about-item">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-4">
                    <div class="right-content">
                        
                        <div class="down-content">
                        <h4>@Model.Events[1].EventName</h4>
                            <ul>
                            <li>@Model.Events[1].EventDate</li>
                            <li>@Model.eventloc.Rows[1]["LocationName"]</li>
                            </ul>

                        <span><i class="fa fa-ticket"></i> Tickets Starting From @Model.myprice.Rows[0]["TicketPrice"]</span>
                            <div class="main-dark-button">
                                <a href="/Ticketdetails">Purchase Tickets</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-upcoming-shows">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h2>About Us</h2>
                    <p><p>
                    Welcome to Evento - your go-to destination for tickets to the hottest sports, concerts, and entertainment events. We're dedicated to making your ticket-buying experience effortless and enjoyable. With a user-friendly platform, transparent pricing, and responsive customer support, we're here to ensure you have a seamless journey from selection to attendance. Join us in the excitement, and let's create unforgettable memories together at Evento.<br />
                    You can send us an email through ".gmail.com"
                    <h4>Items That Are Restricted</h4>
                    <ul>
                        <li>* Flash Cameras</li>
                        <li>* Food & Drinks</li>
                        <li>* Any kind of flashy objects</li>
                    </ul>
                    
                   
                </div>
                <div class="col-lg-3">
                    <div class="next-shows">
                        <h4><i class="fa fa-clock-o"></i> Get The Next Show Tickets</h4>
                        <ul>
                        @for (int i = 0; i < 3; i++)
                        {
                            <li>
                                <h5>@Model.Events[i].EventName</h5>
                                <span>@Model.Events[i].EventDate</span>
                                <div class="icon-button">
                                    <a href="/Ticketdetails">
                                        <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </li>
                        }
                       
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="also-like">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>You Might Also Like...</h2>
                @for (int i = 3; i < 6; i++)
                {
                    
                    <div class="col-lg-4">
                    <div class="like-item">
                        <div class="thumb">
                        <a href="/Ticketdetails"><img src="~/Images/@Model.Events[i].EventImages" alt=""></a>
                            <div class="icons">
                                <ul>
                                <li><a href="/Ticketdetails"><i class="fa fa-arrow-right"></i></a></li>
                                <li><a href="/Tickets"><i class="fa fa-ticket"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="down-content">
                            <span>@Model.Events[i].EventDate</span>
                            <a href="/Tickets"><h4>@Model.Events[i].EventName</h4></a>
                        </div>
                    </div>
                    </div>
                }
            
        </div>
    </div>


   
