@page
@model projectf22.Pages.sportsModel
@{
}
<div class="page-heading-shows-events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Sports</h2>
                <span>Check out upcoming and past sports events.</span>
            </div>
        </div>
    </div>
</div>

<div class="shows-events-tabs">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <div class="row" id="tabs">
                    <div class="col-lg-12">
                        <div class="heading-tabs">
                            <div class="row">
                                <div class="col-lg-8">
                                    
                                </div>
                                <div class="col-lg-4">
                                    <div class="main-dark-button">
                                        <a href="/Ticketdetails">Purchase Tickets</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <section class='tabs-content'>
                            <article id='tabs-1'>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="heading"><h2>Upcoming</h2></div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="sidebar">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="heading-sidebar">
                                                        <h4>Sort The Upcoming Shows & Events By:</h4>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="month">
                                                        <h6>Month</h6>
                                                        <ul>
                                                            <li>
                                                                <form method="post" asp-page-handler="ReadJuly">
                                                                    <button type="submit">July</button>
                                                                </form>
                                                            </li>
                                                            <li>
                                                                <form method="post" asp-page-handler="ReadAugust">
                                                                    <button type="submit">August</button>
                                                                </form>
                                                            </li>
                                                            <li>
                                                                <form method="post" asp-page-handler="ReadSeptember">
                                                                    <button type="submit">September</button>
                                                                </form>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                               
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            @{
                                                int maxindex = @Model.eventloc.Rows.Count;
                                            }
                                            @for (int i = 0; i < @Model.Events.Count; i++)
                                            {
                                                <div class="col-lg-12">
                                                    <div class="event-item">
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="left-content">
                                                                    <h4>@Model.Events[i].EventName</h4>
                                                                    <p>@Model.Events[i].Eventdescription</p>
                                                                    <form method="post">
                                                                        <button type="submit" class="bg-dark p-2 text-light" name="index" value="@Model.Events[i].EventID">Discover More</button>
                                                                    </form>
                                                                    
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="thumb">
                                                                    <img src="~/Images/@Model.Events[i].EventImages" alt="">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="right-content">
                                                                    <ul>
                                                                        <li>
                                                                            <i class="fa fa-clock-o"></i>
                                                                            <h6>@Model.Events[i].EventDate</h6>
                                                                        </li>
                                                                        <li>
                                                                            <i class="fa fa-map-marker"></i>
                                                                            @if (i < maxindex)
                                                                            {
                                                                                <span>@Model.eventloc.Rows[i]["LocationName"]</span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span>No Location</span>
                                                                            }
                                                                        </li>
                                                                        
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            
                                            <div class="col-lg-12">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- *** Subscribe *** -->
<div class="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>Subscribe Our Newsletter:</h4>
            </div>
            <div class="col-lg-8">
                <form id="subscribe" action="" method="get">
                    <div class="row">
                        <div class="col-lg-9">
                            <fieldset>
                                <input name="email" type="text" id="email" placeholder="Your Email Address" required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-3">
                            <fieldset>
                                <button type="submit" id="form-submit" class="main-dark-button">Submit</button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
